body {
    background-color: rgb(231, 231, 231);

}

#dashboard-con {
    margin-top: 100px;
    padding: 0 9rem;
    flex-direction: column;

}

.card-floor {
    width: 100%;
    height: 11rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0 2rem;
    & .card-con {
        display: flex;
        width: 41rem;
        height: 18.5rem;
        gap: .5rem;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        /* background-color: rgb(67, 155, 155); */

        & .card-item {
            width: 20rem;
            height: 8rem;
            border-radius: 5px 5px 0 0;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: space-between;

            & .top-card {
                display: flex;
                padding: 1rem 1.5rem 0 1.5rem;
                border-radius: 5px;

                width: 100%;
                display: flex;
                align-items: start;
                justify-content: space-between;

                & .img-bg {
                    height: 4rem;
                    padding-top: .5rem;
                }

                & .card-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: start;
                    width: 20rem;
                    line-height: .5rem;

                    & h2 {
                        font-weight: bold;
                        font-size: 40px;
                    }

                    & p {
                        color: rgb(88, 88, 88);
                        font-size: 20px;
                    }
                }
            }

            & .card-link {
                
                width: 100%;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 0 0 5px 5px;
                padding: 0 1.5rem;
                & p {
                    font-size: 16px;
                    /* background-color: aquamarine; */
                    margin-top: 1.5rem;
                    color: aliceblue;
                }
            }
        }
    }

    & .graph-con {
        background-color: rgba(255, 255, 255, 1);
        width: 34rem;
        height: 18.5rem;
        border-radius: 10px;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        margin-top: .5rem;
        & span {
            /* background-color: aqua; */
            width: 100%;
        }
    }
    & .pie-con{
        background-color: rgba(255, 255, 255, 1);
        width: 28rem;
        height: 18.5rem;
        border-radius: 10px;
        padding: .5rem;
        margin-top: 2rem;
    }
    & .time-con{
        background-color: rgba(255, 255, 255, 1);
        width: 47.1rem;
        height: 18.5rem;
        border-radius: 10px;
        padding: .5rem;
        margin-top: 2rem;
    }
}

@media(max-width:450px) {
    #dashboard-con {
        padding: 0 .5rem;
        flex-direction: column;
        height: 100vh;
    
    }


    .card-floor {
        width: 100%;
        height: 11rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0 2rem;
        & .card-con {
            display: flex;
            width: 100%;
            height: 16rem;
            gap: .3rem;
    
            & .card-item {
                width: 49%;
                height: 8rem;
                display: flex;
                align-items: start;
                flex-direction: column;
                justify-content:start;
    
                & .top-card {
                    display: flex;
                    padding: .5rem;
                    border-radius: 5px 5px 0 0;
    
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: space-between;
    
                    & .img-bg {
                        height: 1rem;
                        padding-top: unset;
                    }
    
                    & .card-info {
                        width: 20rem;
                        line-height: .2rem;
                        padding-left: 1rem;
                        padding-top: .5rem;
                        & h2 {
                            font-weight: bold;
                            font-size: 28px;
                        }
    
                        & p {
                            color: rgb(88, 88, 88);
                            width: 6rem;
                            font-size: 18px;
                        }
                    }
                }
    
                & .card-link {
                    
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 0 0 5px 5px;
                    padding: 0 1.5rem;
                    & p {
                        font-size: 16px;
                        margin-top: 1.5rem;
                        color: aliceblue;
                    }
                }
            }
        }
    
        & .graph-con {
            background-color: rgba(255, 255, 255, 1);
            width: 44rem;
            height: 18.5rem;
            border-radius: 10px;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            margin-top: .5rem;
            & span {
                /* background-color: aqua; */
                width: 100%;
            }
        }
        & .pie-con{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        & .time-con{
            background-color: rgba(255, 255, 255, 1);
            width: 57rem;
            height: 18.5rem;
            border-radius: 10px;
            padding: .5rem;
            margin-top: 2rem;
        }
    }
}
