.back-button {
    display: flex;
    align-items: center;
    color: #015cca; 
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }
  
  .back-button .icon {
    margin-right: 2px;
    margin-bottom: 2px;
    font-size: 15px; /* ขนาดของไอคอนลูกศร */
  }

  .back-button:hover {
    color: #3a93ff; 
  }