.back-button {
    display: flex;
    align-items: center;
    color: #015cca; 
    cursor: pointer;
    font-size: 20px;
  }
  
  .back-button .icon {
    margin-right: 5px;
    font-size: 16px; /* ขนาดของไอคอนลูกศร */
  }

  .back-button:hover {
    color: #3a93ff; 
  }